.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.section__login {
  position: relative;
  top: 20%;
}

.image-logo {
  position: relative;
  margin-bottom: 70px;
}

app-login-box {
  position: relative;
}

@media only screen and (min-width: 320px) {
  .image-logo {
    width: 320px;
    height: 20px;
  }
}

@media only screen and (min-width: 375px) {
  .image-logo {
    width: 360px;
    height: 25px;
  }
}

@media only screen and (min-width: 414px) {
  .image-logo {
    width: 400px;
    height: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .image-logo {
    width: 770px;
    height: 50px;
  }
}
